html {
	margin:0;	
}

body {
	margin:0;	
}
.content {
	position: absolute;
	margin-top: 25px;
}
p + ul {
	margin-top: -20px;	
}
article {
	margin-bottom: 30px;	
}
#results-page th div {
	writing-mode: vertical-rl;
	white-space: nowrap;
	transform: rotate(180deg);
	text-align: center;
}
#results-page th {
	border: solid black 1px;
	background-color: #4d5ccc;
	color: #FFFFFF;
}
#results-page td {
	padding: 0px 15px 0px 15px;
	margin: 10px;
}
#results-page tr:nth-child(even) {background: #EEEEEE}
#results-page tr:nth-child(odd) {background: #FFFFFF}
